<div class="message">
	<h2 id="welcome">Welcome to Snapchat For Dogs!<br/>
	<small id="subheader">Click the button below to get started.</small></h2>
</div>

<div id="start">
	<button type="button" class="btn btn-primary" id="start_button">Get Started</button>
</div>

<div id="chat_info">
	<form id="centered_form" name="joinChat" action="javascript:joinChat();">
	  	<div class="form-group">
	    	<input name="full_name" class="form-control" id="first_name" placeholder="Enter your full name">
	  	</div>
	  	<select name="select_city" class="form-control" id="select_city">
			<option>--- Select your city ---</option>
			<option>New York</option>
			<option>Los Angeles</option>
			<option>San Francisco</option>
			<option>London</option>
			<option>Tokyo</option>
		</select>
	  	<button type="submit" class="btn btn-primary" id="join_chat_btn">Join Video Chat</button>
	</form>
	<h4 id="waiting">Waiting for your conversation partner...</h4>
</div>

<div id="content">
	
	<div id="horizontalBar">
		<div id="partnerName"></div>

		<div id="time">
		<h4>Local Time</h4>
		</div>
		<br/>

		<div id="weather">
		</div>
		<br/>

	</div>

	<section>
		<div id="left">
			<div id="you">
				<div id="me"></div>
			</div>
		</div>

		<div id="right">
			<div id="nydiv">
				<h4 id="news_header">Local News</h4>
				<div id="news_content">
				</div>
			</div>
			<br/>
<!-- 
			<div id="espnListContainer">
			<h4>Local Sports</h4>
			</div>
			<br/> -->

			<div id="trenddiv">
				<h4 id="twitter_header">Trending Locally</h4>
				<div id="twitter_content">
				</div>
			</div>
		</div>
	</section>

</div>
