<div class="message">
	<button type="button" class="btn btn-default" id="start_button">Join Video Chat</button>
</div>

<div id="you">
	<div id="me"></div>
</div>

<div id="weather">
<h4>Local Weather</h4>
</div>
<br/>

<div id="espnListContainer">
<h4>Local Sports</h4>
</div>
<br/>

<div id="nydiv">
<h4>Local News</h4>
</div>
