<div id="background_cycler">

<!--
<script type = "text/javascript">
$('#background_cycler').hide(); //hide while images load
</script>
-->

	<img class="active" src="http://snapchat-for-dogs.herokuapp.com/images/weather/san_francisco/day.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/weather/new_york/day.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/weather/los_angeles/day.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/weather/london/day.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/weather/tokyo/day.jpg" alt=""/>

<!--
	<img class="active" src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background1.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background2.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background3.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background4.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background5.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background6.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background7.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background8.jpg" alt=""/>
	<img src="http://snapchat-for-dogs.herokuapp.com/images/backgrounds/background9.jpg" alt=""/>
-->
</div>

<div id="outer_wrap">

	<div id="wrap">
		<div class="message">
			<h2 id="welcome">Remote No More:</h2>
			<h1 id="title">Contextify</h1>
			<div id="subheader">
				<h3> Be with your work colleagues in their locale...even miles and timezones apart.</h5>
				<div id="start">
					<button type="button" class="btn btn-primary" id="start_button">Get Started</button>
				</div>

				<h3>Spark Conversation. Feel Together. Build Empathy.</h5>
			</div>
		</div>

		

		<div id="chat_info">
			<form id="centered_form" name="joinChat" action="javascript:joinChat();">
			  	<div class="form-group">
			    	<input name="full_name" class="form-control" id="first_name" placeholder="Enter your full name">
			  	</div>
			  	<div class="form-group">
				  	<select name="select_industry" class="form-control" id="select_indsutry">
						<option>--- Select your industry ---</option>
						<option>Technology</option>
						<option>Business</option>
						<option>Health</option>
						<option>Art</option>
						<option>Sports</option>
						<option>Science</option>
					</select>
				</div>
				<div class="form-group">
				  	<select name="select_city" class="form-control" id="select_city">
						<option>--- Select your city ---</option>
						<option>New York</option>
						<option>Los Angeles</option>
						<option>San Francisco</option>
						<option>London</option>
						<option>Tokyo</option>
					</select>
				</div>
			  	<button type="submit" class="btn btn-primary" id="join_chat_btn">Join Video Chat</button>
			</form>
		</div>
	</div>

	<h4 id="waiting">Waiting for your conversation partner...</h4>

</div>

<div id="content">
	
	<div id="horizontalBar">
		<div class="bar_info" id="context_city">New York</div>
		<div class="bar_info" id="context_time">8:03 am</div>
		<div class="bar_info" id="context_weather">57 degrees</div>
		<div class="bar_info_right" id="context_name">Tyler Strand's context</div>
	</div>

	<section id="section">
		<div id="you">
			<div id="me"></div>
			<div id="show">Show me more info about Kenny</div>
		</div>

		<div id="right">
			<div id="hide">close</div>
			<br/>
			<div id="tabs">
				<span class="selected tab" id="news_tab">News</span>
				<span class="tab_separator">|</span>
				<span class="tab" id="linkedin_tab">Info</span>
				<span class="tab_separator">|</span>
				<span class="tab" id="twitter_tab">Twitter</span>
			</div>
			<div id="news_div">
				<h3 id="news_header" class="toggle_header">News</h3>
				<div id="news_content">
				</div>
			</div>

			<div id="linkedin_div" style="display: none;">
				<h4 id="linkedin_header" class="toggle_header">LinkedIn</h4>
				<div id="linkedin_content">
				</div>
			</div>

			<div id="twitter_div" style="display: none;">
				<h4 id="twitter_header" class="toggle_header">Twitter Trends</h4>
				<div id="twitter_content">
				</div>
			</div>
		</div>
	</section>

</div>
