<div class="message">
	<button type="button" class="btn btn-default" id="start_button">Join Video Chat</button>
</div>

<section>
	<div id="left">
		<div id="you">
			<div id="me"></div>
		</div>
	</div>

	<div id="right">
		<div id="time">
		<h4>Local Time</h4>
		</div>
		<br/>

		<div id="weather">
		<h4>Local Weather</h4>
		</div>
		<br/>

		<div id="trenddiv">
		<h4>Trending Locally</h4>
		</div>
		<br/>

		<div id="espnListContainer">
		<h4>Local Sports</h4>
		</div>
		<br/>

		<div id="nydiv">
		<h4>Local News</h4>
		</div>
	</div>
</section>
