#start_button {
  text-align: center;
  margin: auto;
}


section {
  width: 90%;
  height: 500px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

div#left {
  width: 60%;
  height: 500px;
  background: red;
  float: left;
}

div#right {
  margin-left: 60%;
  height: 500px;
  background: black;
}

#you {
  display: none;
  background-color: gray;
  width: 800px;
  height: 500px;
  margin: auto;
}

#me {
  left: 10px;
  top: 10px;
  border: solid black 1px;
  z-index: 10;
}

#weather {
  padding: 5px;
  width:200px;
}

#espnListContainter {
  padding: 5px;
  width:500px;
  height:100%;
}

#nydiv {
  padding: 5px;
  width:500px;
}