#header_text {
  margin: 45px auto;
  text-align: center;
}

#header_block {
  display: inline-block;
  margin: 0px 40px;
}

#start_button {
  text-align: center;
  margin: auto;
  float: none !important;
}

#background_cycler {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#background_cycler img{
  position: absolute; left:0; top: 0; width: 100%; z-index: 1;
}

#background_cycler img.active{z-index: 3}

#outer_wrap {
  width: 60%;
  margin: 50px auto;
  height: 300px;
}

#wrap {
  padding-top: 20px;
  background-color: rgba(0,0,0,0.7);
}


section {
  width: 90%;
  height: 1000px;
  /*background: aqua;*/
  margin: auto;
  padding: 10px;
}

div.message {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#welcome {
  color: white;
  font-size: 40px;
}

#title {
  color: white;
  font-size: 70px;
}

#subheader {
  color: AliceBlue;
}

#start {
  text-align: center;
  margin-top: 60px;
    height: 80px;
}

#chat_info {
  display: none;
  text-align: center;
  height: 215px;
}

#join_chat_btn {
  margin-top: 10px;
  float: right;
}

#centered_form {
  margin: auto;
  width: 350px;
}

#waiting {
  display: none; 
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

#hide {
  position: absolute;
  padding-left: 360px;
  padding-top: 2px;
}

#section {
  width: 1013px;
  padding-left: 0px;
  padding-right: 0px;
}

#show {
  -webkit-transform: rotate(90deg);
  width: 166px;
  text-align: center;
  height: 50px;
  background: paleturquoise;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  left: 555px;
  top: -92px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  padding-top: 5px;
}

#show:hover, #hide:hover {
  cursor: pointer;
}

.bar_info {
  display: inline-block;
  color: whitesmoke;
  font-size: 30px;
  margin-right: 40px;
}

.bar_info_right {
  display: inline-block;
  color: whitesmoke;
  margin-right: 40px;
  font-size: 20px;
  float: right;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid white;
}

.bar_info_right:hover {
  cursor: pointer;
  color: indianred;
  border-color: indianred;
}

#tabs {
  text-align: center;
}

.tab {
  color: honeydew;
}

.selected {
  color: indianred;
  font-weight: bold;
}

#tab_separator {
  margin-left: 5px;
  margin-right: 5px;
}

.selected_tab:hover, .tab:hover {
  color: indianred;
  cursor: pointer;
}

#content {
  display: none;
  width:100%;
  /*margin: auto;*/
  background-repeat: no-repeat;
  background-size: cover;
}

#horizontalBar {
  padding-top: 25px;
  height:80px;
  width:1000px;
  margin: auto;
  float:none;
  font-size:
}

#partnerName {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 100px; 
  float: left;
  color: whitesmoke;
}

#right {
  display: none;
  width: 400px;
  height: 460px;
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

#you {
  background-color: gray;
  width: 605px;
  height: 500px;
  margin: auto;
  overflow: visible !important;
}

._context {
  display: inline-block;
  float: left;
/*  background-color: gray;
  width: 605px;
  height: 500px;
  margin: auto;*/
}

#me {
  left: 10px;
  top: 10px;
  border: solid black 1px;
  z-index: 10;
}

#weather {
  float:left;
  color:whitesmoke;
}

#espnListContainer {
  padding: 5px;
  width:400px;
  height:200px;
  overflow: hidden;
}

#news_div {
  padding: 10px;
  width:400px;
  height:420px;
}

#news_content {
  height:360px;
  overflow: scroll;
}

dt.highlight {
  color: yellow;
}

#twitter_div {
  padding: 10px;
  width: 400px;
  height: 420px;
}

#twitter_content {
  height:360px;
  overflow: scroll;
}