#start_button {
  text-align: center;
  margin: auto;
}

#background_cycler {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

#background_cycler img{
  position: absolute; left:0; top: 0; width: 100%; z-index: 1;
}

#background_cycler img.active{z-index: 3}

#outer_wrap {
  width: 60%;
  margin: 50px auto;
  height: 400px;
}

#wrap {
  padding-top: 20px;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}


section {
  width: 90%;
  height: 1000px;
  /*background: aqua;*/
  margin: auto;
  padding: 10px;
}

div.message {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#welcome {
  color: white;
  font-size: 40px;
}

#start {
  text-align: center;
  margin-top: 60px;
}

#chat_info {
  display: none;
  text-align: center;
}

#join_chat_btn {
  margin-top: 10px;
  float: right;
}

#centered_form {
  margin: auto;
  width: 350px;
}

#waiting {
  display: none; 
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

#hide {
  position: absolute;
  padding-left: 360px;
  padding-top: 2px;
}

#show {
  -webkit-transform: rotate(90deg);
  width: 166px;
  text-align: center;
  height: 50px;
  background: paleturquoise;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  position: absolute;
  left: 817px;
  top: 154px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  padding-top: 5px;
}

#show:hover, #hide:hover {
  cursor: pointer;
}

#tabs {
  text-align: center;
}

.tab {
  color: honeydew;
}

.selected {
  color: indianred;
  font-weight: bold;
}

#tab_separator {
  margin-left: 5px;
  margin-right: 5px;
}

.selected_tab:hover, .tab:hover {
  color: crimson;
  cursor: pointer;
}

#content {
  display: none;
  width:100%;
  /*margin: auto;*/
  background-repeat: no-repeat;
  background-size: cover;
}

#horizontalBar {

  margin: 3px;

  height:80px;
  width:100%;
  background: black;
  opacity: .7;
  float:none;
  /*clear:none;*/
}

#partnerName {
  padding-top: 20px;
  padding-left: 100px; 
  float: left;
  color: whitesmoke;
}

#right {
  display: none;
  width: 400px;
  height: 500px;
  background: black;
  opacity: 0.8;
  color: whitesmoke;
}

#you {
  background-color: gray;
  width: 605px;
  height: 500px;
  margin: auto;
}

._context {
  display: inline-block;
  float: left;
/*  background-color: gray;
  width: 605px;
  height: 500px;
  margin: auto;*/
}

#me {
  left: 10px;
  top: 10px;
  border: solid black 1px;
  z-index: 10;
}

#weather {
  float:left;
  color:whitesmoke;
}

#espnListContainer {
  padding: 5px;
  width:400px;
  height:200px;
  overflow: hidden;
}

#news_div {
  padding: 10px;
  width:400px;
  height:450px;
}

#news_content {
  height:400px;
  overflow: scroll;
}

#twitter_div {
  padding: 10px;
  width: 400px;
  height: 450px;
}

#twitter_content {
  height:400px;
  overflow: scroll;
}