

#start_button {
  text-align: center;
  margin: auto;
}


section {
  width: 90%;
  height: 1000px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

#left {
  width: 60%;
  height: 1000px;
  /*background: red;*/
  float: left;
}

div#right {
  margin-left: 60%;
  height: 1000px;
  background: black;
  color: whitesmoke;
}

#you {
  display: none;
  background-color: gray;
  width: 605px;
  height: 500px;
  margin: auto;
}

#me {
  left: 10px;
  top: 10px;
  border: solid black 1px;
  z-index: 10;
}

#weather {
  padding: 5px;
  width:200px;
}

#espnListContainer {
  padding: 5px;
  width:400px;
  height:200px;
  overflow: hidden;
}

#nydiv {
  padding: 5px;
  width:400px;
  height:400px;
  overflow: hidden;
}

#trenddiv {
  padding: 5px;
  width: 400px;
  height: 200px;
  overflow: hidden;
}